/*
 * Import the reindeer theme.
 * This only allows us to use the mixins defined in it and does not add any styles by itself.
 */
@import "../reindeer/reindeer.scss";

/* This contains all of your theme.*/
@mixin mbmg {
  /* Include all the styles from the reindeer theme */
  @include reindeer;

  /* Insert your theme rules here */

  .header {
    width: 100%;
    background: #000000;
    text-align: center;
    font-size: 32px;
    height: 75px;
  }

  .menu {
    height: 40px;
    width: 100%;
    position: absolute;
    left: 0;
    clear: both;
  }

  .content {
    background: #232527;
    text-align: left;
  }

  .footer {
    position: absolute;
    height: 32px;
    width: 100%;
    bottom: 0;
    left: 0;
    clear: both;
    background: coral;
  }
}
